# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb

# Entorno virtual
venv/
.env/

# Archivos de configuración sensibles
*.env

# Archivos generados
*.log
*.sqlite3

# Directorios temporales
temp/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Dependencias instaladas
*.egg-info/
.eggs/
dist/
build/

# Archivos de IDEs
.vscode/
.idea/
